body {
   background-image: url(./img/photo.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
}
#home {
    padding: 18px;
    text-align: center;
}

a {
    color: #46566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-family:monospace;
    color: rgba(219, 51, 29, 0.719);
}

.rodape {
    text-align: center;
}

.rodape img {
    width: 25px;
}

p {
        text-align: center;
        font-family:monospace;
        font-size: 1.4em;
        color: rgba(141, 61, 47, 0.897);
    
}

#nomes {

    text-align: center;
    font-family:monospace;
    font-size: 1.2em;
    color: rgba(204, 52, 25, 0.534);

}