/* 
configurações gerais
*/
* {
  width: 95%;
  background: linear-gradient(to bottom, #f7dcdc  50%,#b6b59f 50%);
	background-clip: text;
	-webkit-background-clip: text;
}
/***********                 **********/

/* configurações de cabeçalho */
header {
  text-align: right;
  padding: 10px;
  margin: 15px;
}
a {
  text-decoration: none;
  color: #000000;
  padding: 15px;
}
a:hover {
  color: rgb(180, 138, 138);
  text-decoration: none;
}

a:active {
  color: rgb(23, 114, 114);
  background-color: grey;
}

/***********                 **********/

/*
configuraações de body
*/

div {
  position: relative;
}
#imagen {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin-top: 90px;
  float: right;
  margin-right: 100px;
}

#nomes {
  margin-top: 150px;
  margin-left: 150px;
  font-style: italic;
  color: rgb(123, 141, 99);
  margin-bottom: 100px;
}

h1{
  color: rgb(80, 85, 104);
}

h2{
  margin-left: 90px;font-family: monospace;
}


#home{
  display: flex;
}
/***********                 **********/
/*
Configurações redes sociais 
*/

#redes {
  width: 30px;
  left: 90%;
  top: 60%;
  position: fixed;
  display: block;
  padding: 10px;
}

#links a{
  color: rgb(63, 15, 31);
}
/***********                 **********/
